/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #29ACFF;
    --main-color-alt: #27187e;
    --second-color: #1C00FF;
    --second-color-alt: #000526;
    --main-transition: .3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #f1f2f6;
}

html {
    scroll-behavior: smooth;
}

body::before {
    content: " ";
    background: #0c0b10;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 9998;
    opacity: 0;
    animation: anofy 2.5s;
}

body:after {
    z-index: 9999;
    position: fixed;
    content: "";
    background-image: url("/images/smart-dev-2.png");
    background-position: center;
    background-size: 151px;
    background-repeat: no-repeat;
    width: 0;
    transform: translate(90px, -90px);
    height: 151px;
    right: 50%;
    top: 50%;
    opacity: 0;
    animation: naif 1.5s;
}

@keyframes anofy {
    0% {
        width: 100%;
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    99% {
        width: 100%;
    }

    100% {
        width: 0;
        opacity: 0;
        display: none;
    }
}

@keyframes naif {
    0% {
        width: 400px;
        opacity: 0;
    }

    70% {
        width: 185px;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    99% {
        width: 50px;
    }

    100% {
        width: 0;
        opacity: 0;
        display: none;
    }
}

*::selection {
    background-color: var(--second-color-alt);
    color: var(--main-color);
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: var(--second-color);
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* start components  */
.spacial-heading {
    color: var(--main-color);
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: uppercase;
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    margin: 50px 0 50px 0;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .spacial-heading {
        font-size: 1.3em;
    }
}

.spacial-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.spacial-heading:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.spacial-heading:hover {
    border-color: var(--main-color-alt);
    color: #fff;
    transition-delay: .3s;
    ;
}

.spacial-heading:hover::before {
    z-index: -1;
    animation: left-move .3s linear forwards;
}

.spacial-heading:hover::after {
    z-index: -1;
    animation: right-move .3s linear forwards;
}


.sub-title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-color);
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    transition: .7s;
}

.sub-title:hover {
    color: #fff;
}

.sub-title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: var(--main-color);
    left: -15px;
    transition: .7s;
}

.sub-title:hover::before {
    width: calc(100% + 30px);
    border-right: 10px solid var(--main-color);
    background-color: var(--second-color-alt);
    z-index: -1;
}


.note {
    margin-top: 10px;
    text-align: center;
    background: var(--main-color);
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 10px 20px;
    transition: var(--main-transition);

}

.note:hover {
    border-radius: 0;
}

.note span,
.note a {
    color: #fff;
}

#InfoBanner {
    width: 100%;
    margin-bottom: 28px;
}

.reversed {
    display: inline-block;
    padding: 0.3em;
    padding-left: 0.3em;
    margin-left: 0.8em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    color: #fff;
    font-size: 15px;
    background-color: #ef5350;
    width: 70%;
}

.reversed:before,
.reversed:after {
    content: '';
    width: 0;
    height: 0;
    right: -0.8em;
    position: absolute;
    top: 0;
    border-top: 0.8em solid #ef5350;
}

.reversed:after {
    top: auto;
    bottom: 0;
    border-top: none;
    border-bottom: 0.8em solid #ef5350;
}

.reversedRight:before,
.reversedRight:after {
    border-right: 0.8em solid transparent;
    right: -0.8em;
}

.reversedRight {
    width: 17px;
    border-radius: 5px 0px 0px 5px;
    animation: tilt 2s infinite;
}

.reversedLeft {
    margin-left: 15px;
    border-radius: 0px 5px 5px 0px;
}

.reversedLeft:before,
.reversedLeft:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    left: -0.8em;
    position: absolute;
}

.reversedLeft:after {
    top: auto;
    bottom: 0;
    border-top: 0.8em solid #ef5350;
    border-bottom: none;
}

.reversedLeft:before {
    bottom: auto;
    top: 0;
    border-bottom: 0.8em solid #ef5350;
    border-top: none;
}


/* start up button  */
.up-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 10px;
    z-index: 20;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    font-size: 35px;
    display: flex;
    bottom: -70px;
    transition: 0.5s;
    color: var(--main-color);
    animation: up-move 2s linear infinite;
}

.up-btn.active {
    bottom: 20px;
}

.up-btn i {
    font-size: 36px;
}

.up-btn:hover {
    transform: translateY(-20px);
}

/* end up button  */
/* start whats app btn  */
.whats-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 10px;
    z-index: 20;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    font-size: 35px;
    display: flex;
    bottom: -70px;
    transition: 0.5s;
    color: var(--main-color);
    animation: up-move 2s linear infinite;
}

.whats-btn.active {
    bottom: 20px;
}

.whats-btn i {
    font-size: 36px;
}

.whats-btn:hover {
    transform: translateY(-20px);
}

/* end whats app btn  */

/* end components  */
/* start header  */
header {
    width: 100%;
    position: fixed;
    left: 0;
    background-color: var(--second-color-alt);
    min-height: 70px;
    max-height: 70px;
    z-index: 1990;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-name img {
    width: 70px;
    height: 70px;
    animation: scale 1.5s linear infinite;
    -webkit-animation: scale 1.5s linear infinite;
}

/* start menu icon  */
header .menu-icon {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    z-index: 199;
}

@media (min-width: 992px) {
    header .menu-icon {
        display: none;
    }
}

header .menu-icon span {
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: var(--main-transition);
}

header .menu-icon span:first-child {
    width: 100%;
}

header .menu-icon span:nth-child(2) {
    width: 50%;
}

header .menu-icon span:last-child {
    width: 100%;
}

header .menu-icon:hover span {
    background-color: var(--main-color);
    width: 100%;
}

@media (min-width: 991px) {

    header .nav .logo-img-nav,
    header .nav .logo-img-nav img,
    header .nav .nav-text {
        display: none;
    }
}

header .nav .logo-img-nav {
    border: 1.5px solid var(--main-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: shadow 1.5s ease-in infinite;
    -webkit-animation: shadow 1.5s ease-in infinite;
    animation-fill-mode: forwards;
}

header .nav .logo-img-nav img {
    width: 100px;
    margin-bottom: 120px;
    animation: scale 1.5s linear infinite;
    -webkit-animation: scale 1.5s linear infinite;
}

header .nav .nav-text {
    color: var(--main-color);
    font-size: 24px;
    padding: 10px;
}

@media (max-width: 991px) {
    header .menu-icon {
        display: flex;
    }

    header .menu-icon.active span:first-child {
        transform: translateY(0) rotate(45deg);
    }

    header .menu-icon.active span:nth-child(2) {
        display: none;
    }

    header .menu-icon.active span:last-child {
        transform: translateY(-6px) rotate(-45deg);

    }

    header .nav.active {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        gap: 0;
        width: 100%;
        flex-direction: column;
        background-color: #000526;
        align-items: center;
        min-height: 100vh;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }

    header .nav.active li {
        margin: 0;
        border-bottom: 2px solid var(--second-color);
    }
}

/* end menu icon  */
/* start header nav */
header .nav li {
    margin: 0 15px 0 0;
    display: inline-block;
}

header .nav li a {
    color: #fff;
    padding: 16px;
    text-transform: uppercase;
    font-size: .9em;
    transition: var(--main-transition);
}

header .nav li a:hover {
    color: var(--main-color);
    border-bottom: 4px solid var(--main-color);
}

@media (max-width: 991px) {
    header .nav {
        display: none;
    }

    header .nav li a:hover {
        border: none;
    }

    header .nav.active li {
        border: none;
    }
}

/* end header nav */
/* end header  */
/* start landing */
.landing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../images/bg-landing.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.landing .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing .img-intro,
.landing .img-intro img {
    width: 500px;
}

@media (max-width: 767px) {

    .landing .img-intro,
    .landing .img-intro img {
        width: 200px !important;
        margin-bottom: 50px;
    }
}

.landing .main-btn {
    color: #fff;
    padding: 10px 30px;
    background-color: var(--main-color);
    margin-bottom: 30px;
    display: block;
    width: fit-content;
    border-radius: 25px;
    font-size: 1.4em;
    font-weight: 500;
    transition: var(--main-transition);
    position: relative;
    top: -100px;
}

.landing .main-btn:hover {
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.wrapper {
    position: relative;
    top: -100px;

}

/* start social media icons  */
.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 200px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all var(--main-transition)ease-out;
}

/* .wrapper .button:hover {
    width: 200px;
} */

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all var(--main-transition) ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #ff0000;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all var(--main-transition) ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all var(--main-transition) ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #E1306C;
}

.wrapper .button:nth-child(4) span {
    color: #333;
}

.wrapper .button:nth-child(5) span {
    color: #ff0000;
}

/* @media (max-width: 470px) {
    .wrapper .button:hover {
        width: 60px;
    }

    .wrapper .button span {
        display: none;
    }
} */

/* end social media icons  */
/* end landing */
/* start services  */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
}

.services .content .box {
    background-color: #cfcfcf;
    padding: 25px;
    text-align: center;
    color: var(--main-color-alt);
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px #4f4f4f;
    transition: var(--main-transition);
}

.services .content .box:hover {
    transform: scale(1.001);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.001);
    -ms-transform: scale(1.001);
    -o-transform: scale(1.001);
}

.services .content .box i {
    font-size: 2.5em;
    color: var(--second-color-alt);
    margin-bottom: 20px;
}

.services .content .box h2 {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 700;
}

.services .content .box p {
    line-height: 1.3;
    color: #27187e90;
}

/* end services  */
/* start projects  */
.projects {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #d5daff86;
}

.projects .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.projects .content .card {
    background-color: var(--section-background);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #4f4f4f;
    min-height: 100%;
    transition: var(--main-transition);
}

.projects .content .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px 2px #4f4f4f;
}

.projects .content .card img {
    width: 100%;
    border-radius: 8px;
    transition: var(--main-transition);
    background-position: top;
}

.projects .content .card img:hover {
    transform: scale(1.05);
}

.projects .content .card .text-box {
    margin-top: 20px;
}

.projects .content .card .text-box h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--main-color-alt);
    text-transform: capitalize;
}

.projects .content .card .links-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects .content .card .links-box a {
    display: block;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 500;
    transition: var(--main-transition);
}

.projects .content .card .links-box a:nth-child(1):hover {
    background-color: transparent;
    color: var(--main-color);
    border-radius: 0;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.projects .content .card .links-box a:nth-child(2):hover {
    background-color: transparent;
    color: var(--main-color);
    border-radius: 0;
    border-right: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
}


.dot {
    animation: opacity 1s linear infinite forwards;
}

.st-s {
    animation-delay: .25s;
}

.nd-s {
    animation-delay: .5s;
}

.rd-s {
    animation-delay: .75s;
}

.th-s {
    animation-delay: 1s;
}

/* end projects  */
/* start sala  */
section.salla .content .card {
    position: relative;
}


section.salla .content .card .text-box h2 {
    text-align: center;
}

section.salla .content .card .links-box {
    justify-content: center;
}

section.salla .content .card .links-box a {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

/* end sala  */
/* start testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    padding: 50px 20px 20px;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 #00000040;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
    text-align: center;
    transition: .3s;
    margin-bottom: 20px;
}

.testimonials .box:hover {
    box-shadow: 0 4px 5px 2px #00000060;
}

.testimonials .box img {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 10px solid var(--section-background);
    transition: .3s;
}

.testimonials .box h3 {
    margin: 0 0 10px;
    color: var(--main-color);
}

.testimonials .box a {
    color: #777;
    margin-bottom: 12px;
    display: block;
}

.testimonials .box .filled {
    color: #ffc107;
}

.testimonials .box p {
    line-height: 1.5;
    color: #555;
    margin-top: 10px;
    margin-bottom: 0;
}

/* end testimonials */
/* start important link  */

.im-links {
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    min-height: 380px;
}

.img-top {
    top: 5px;
    left: 0;
    position: relative;
    width: 100%;
}

.im-links .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

@media (max-width: 991px) {
    .im-links .container .cards {
        justify-items: center;
    }
}

.im-links .cards .card {
    background-color: #f1f2f6;
    display: flex;
    width: 60%;
    flex-direction: column;
    border-radius: 10px;
    transition: var(--main-transition);
}

.im-links .cards .card:hover {
    transform: scale(1.1);
}

.im-links .cards .card img {
    transition: var(--main-transition);
    border-radius: 10px;
    margin-bottom: 20px;
}

.im-links .cards .card a {
    text-align: center;
    padding-bottom: 20px;
    color: var(--second-color-alt);
    font-size: 18px;
    font-weight: 700;
    transition: var(--main-transition);
}

.im-links .cards .card:hover a {
    color: var(--main-color);
    border-bottom: 2px solid;
    border-radius: 10px;
}

/* end important link  */
/* start contact  */
.contact {
    padding-top: var(--main-padding-top);
    min-height: 100vh;
    background-color: var(--section-background);
    padding-bottom: var(--main-padding-bottom);
}

.contact .content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contact .content form {
    flex-basis: 65%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid var(--second-color);
    margin-bottom: 30px;
    width: 100%;
    color: var(--main-color);
}

.contact .content form .main-input::placeholder {
    color: var(--main-color);
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}


.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    margin-left: auto;
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--main-transition);
}

.contact .content form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

@media (max-width:767px) {
    .contact .content {
        flex-direction: column;
    }

    .contact .content form {
        margin-top: 20px;
        margin-bottom: 30px;
        order: -1;
    }

    .contact .content form input[type="submit"] {
        position: relative;
        right: 50%;
        transform: translateX(50%);
    }
}

.contact .content .info {
    flex: 30%;
}

@media (max-width:767px) {
    .contact .content .info {
        order: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

.contact .content .info .box {
    padding: 20px;
    display: flex;
}

@media (max-width:767px) {
    .contact .content .info .box {
        flex-direction: row !important;
        font-size: 11px;
    }

    .contact .content .info .box.social {
        flex-direction: column !important;
    }
}

.contact .content .info .box i {
    font-size: 1.7em;
    margin-right: 25px;
    color: var(--main-color);
    transition: var(--main-transition);
}

.contact .content .info .box i:hover {
    color: var(--main-color-alt);

}

.contact .content .info .box P {
    color: var(--main-color-alt);
    font-size: .9em;
}

@media (max-width:767px) {
    .contact .content .info {
        margin: 0 auto;
    }

    .contact .content .info .box {
        flex-direction: column;
        text-align: center;
    }


}

.contact .content .info .box.social {
    display: flex;
    flex-direction: column !important;
}

.contact .content .info .box .button {
    display: flex;
    background: var(--main-color);
    padding: 5px 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px 25px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    margin-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.contact .content .info .box .button:hover {
    background-color: var(--second-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.contact .content .info .box .button p,
.contact .content .info .box .button i {
    color: #fff;
}

.contact .content .info .box .button i {
    margin-right: 7px;
}

@media (max-width:767px) {
    .contact .content .info .box .button {
        flex-direction: column;
    }

    .contact .content .info .box .button i {
        margin-right: 0;
    }
}

/* end contact  */
/* start footer  */
.footer {
    background-color: #000018;
    color: white;
    padding: 2em;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.footer .container {
    width: 100%;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: var(--main-color);
}

.footer .social-icons a {
    color: var(--main-color);
    margin: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    padding: 20px;
}

.footer .social-icons i {
    font-size: 1.7em;
    transition: var(--main-transition);
}

.footer .social-icons a:hover i {
    color: #fff;
}

@media (max-width: 767px) {
    .footer .container {
        padding: 0 40px;
        flex-direction: column;
        text-align: center;
    }

    .footer-title {
        font-size: .8em;
    }
}

/* end footer  */

.dis-none {
    display: none;
}

@media (max-width: 767px) {
    header {
        top: 0 !important;
    }
}

.tools {
    margin-top: 20px;
    text-align: center;
}

.tools span {
    padding: 0px 5px;
    background-color: rgb(41 172 255 / 30%);
    color: #00000080;
    border-radius: 6px;
    margin-right: 5px;
    cursor: pointer;
    transition: var(--main-transition)
}

.tools span:hover {
    background-color: rgb(39 24 126 / 30%);
}



/* start animations  */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        background-color: var(--main-color-alt);
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
        background-color: var(--main-color-alt);
    }
}

@keyframes up-move {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(5px);
    }
}

@keyframes scale {

    0%,
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    50% {
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        opacity: .7;
    }
}

@keyframes shadow {

    0%,
    100% {
        box-shadow: 0px 0px 15px 5px #29acff70;
    }

    50% {
        box-shadow: 0px 0px 15px 5px #29acff90;
    }

}

@keyframes opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes tilt {
    0% {
        left: 0%;
    }

    50% {
        left: 9px;
    }

    100% {
        left: 0px;
    }
}


/* end animations  */